<h1>Welcome!</h1><img src="assets/3A.png"  />
Three world leading Web technologies together.
                 <br />    <br />
<p>Showcasing aspects of Full Stack Web Apps </p>




<mat-tab-group>
  <mat-tab label="Introduction">


    <div id="col1" style="
color:#1d0b4f;
top:50px;
left:50px;
width:250px;
height:340px;

float:left;
margin:20px;
align-content:center">

      This Azure hosted site demonstates a number of aspects of Angular Material,
      ASP.NET Core Restful Web API's  and SQL Server backed Web applications working together,
      <b> video below</b>


      Whilst this specific platform is provided free from Microsoft the performance is enough to showcase
      some aspects of essential fundamental functionality commonly sought by service seekers.<br />

      <br />
      Each main menu option opens a page with 3-Tabs<br />
      For each page.<br />
      Tab 1 -  the working app,<br />
      Tab2  -   app summary description <br />
      Tab 3 -  aspects of technologies & source code



    </div>


    <div id="col2" style="
color:#1d0b4f;
top:50px;
left:50px;
width:250px;
height:340px;

float:left;
margin:20px;
align-content:center">

      This video shows the 9 apps that demonstrate a number of fearures I am planning to publish to this domain over the spring / summer of 2019.
      Whether I place the apps or technology areas on the main left menu remains to be seen.
      <br />
      With the possibility of nav bars appearing on the top for each item on the left, together with the tabs,
      there's a comfortable feel about navigating the amount of content currently envisaged'

      <iframe width="180" height="140" src="https://www.youtube.com/embed/w_uyZt7wvCY" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



    </div>









    <br />

    John J Mulkearns
    Canary Wharf<br />
    London and Las Palmas
    <br />

    






















  </mat-tab>


  <mat-tab label="Tech Overview">


<br />

    Building Restful API’s with .Net Core,
    securing applications with Auth0
    unit testing
    personalisation<br />
    setting up CI and deployment with Visual Studio team services and Github
    


    <p>Demonstrating Angular U.I.Web apps using the Microsoft Stack on Azure</p>
    <p>

    </p>

    <p>Built with Visual Studio 2017 and the Angular CLI:</p>

    <p>Source code links to public Githud repos:</p>



    <p>Whilst <code>source control and testing</code> are vital,  gathering needs, agile development and day to day concerns like developer standards and practices,  naming, branching and migrations etc  are intially addressed with short demo video links and info.<br />
    <p>Further info  about previous public Web Apps and in-house LOB apps are being continually added</p>
    <br />

  </mat-tab>



  <mat-tab label="Tech Drilldown">
    <p>Full Stack:</p>
    <ul>
      <li><strong>Continuous Integration and Delivery</strong> Hosted on <em>Azure</em> with <em>open source code</em> on Github.</li>
      <li><strong>Essential Transaction Atomic CRUD</strong>. Developed as a SPA making asynch calls to Restful asynch endpoints</li>
      <li><strong>Security, cross device and highly performant</strong>. Production mode login options. </li>
      <li><strong>Distrubuted Caching. </strong> High performance granularity for both Client and Server side caching strategies</li>
      <li><strong>Independent multi-tier Validation</strong> Independent consistet data input validation for Client and Server and Database</li>
      <li><strong>Fully doumented API's</strong> Developer friendly online documentation for all public API's</li>


      <li><a href="https://bankbasics.azurewebsites.net/account" target="_blank">Bank Basics</a> Parts of basic financial banking app</li>
      <li><a href="https://angular5.azurewebsites.net" target="_blank">Skills Test Basics</a> Parts of skills testing question bank</li>
    </ul>

  </mat-tab>





  <mat-tab label="Code">



    <div id="col1"style="
color:forestgreen;
top:50px;
left:50px;
width:200px;
height:240px;

float:left;
margin:20px;
align-content:center">


      <p>Everything here is open source.</p>
      Private and public Github repos are directly linked in the <br />
      build for this Azure hosted domain.


    </div>


    <div id="col2" style="
color:forestgreen;
top:50px;
left:50px;
width:200px;
height:240px;

float:left;
margin:20px;
align-content:center">



      this is your greatest dawning
      <iframe width="150" height="120" src="https://www.youtube.com/embed/mzqxxBf2bdY" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



    </div>





    <div  id="col3" style="
color:#1d0b4f;
top:50px;
left:50px;
width:200px;
height:240px;

float:left;
margin:20px;
align-content:center">
      The Third Column

      </div>













  </mat-tab>

</mat-tab-group>
